<section class="webring" style="text-align: center;">
    <h4>The webring!</h4>
    
    <a target="_blank" href="https://skyla.moe/" title="My Adorable Sister!">
        <img src="/images/button/Skyla-88x31.png">
    </a>
    <a target="_blank" href="https://www.kaitlynplayz.xyz/" title="Professional Brat!">
        <img src="/images/button/kaitlyn-88x31.png">
    </a>

    <br/>

    <h5>Your own button would go here :p</h5>
    <a download data-noframe href="/images/button/you.png" title="Shows when hovered :p">
        <img src="/images/button/G13-88x31.png">
    </a>
</section>